<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq_to_sql_CRUD.Properties.Settings.StudentDBConnectionString"
            connectionString="Data Source=192.168.37.55;Initial Catalog=StudentDB;User ID=sa;Password=systems@1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>